footer
    script.
      window.addEventListener("load", () => document.getElementById("timerOnLoad").innerText = "Loading time is: " + timeOnLoadClient + " sec. (Client) " + "and " + timeOnLoadServer + " sec. (Server)")
    p#timerOnLoad