header
    .header
        .header_section
            .header_item.headerLogo WEB CV
            .header_item.headerButton
                a(href='/about_me') About me

script(src='scripts/main_page.js')

block content