header
    .header
        .header_section
            .header_item.headerLogo WEB CV
            .header_item.headerButton
                a(href='/') â†
                //a(href='/login') Login
            //#{ user }


            //.header_item.headerButton
            //    //a(href='#') Signup
            //    form(action='' id='logout_button')
            //        input.submit(type='submit')

script(src='scripts/main_page.js')

block content