
<header>
  <div class="header">
    <div class="header_section">
      <div class="header_item headerLogo">WEB CV</div>
      <div class="header_item headerButton"><a href="/about_me">About me</a></div>
      <div class="header_item headerButton"><a href="/">Home</a>
        <!--a(href='/login') Login-->
      </div>
      <!--#{ user }-->
      <!--.header_item.headerButton-->
      <!--    //a(href='#') Signup-->
      <!--    form(action='' id='logout_button')-->
      <!--        input.submit(type='submit')-->
    </div>
  </div>
</header>
<script src="scripts/main_page.js"></script>