
<header>
  <div class="header">
    <div class="header_section">
      <div class="header_item headerLogo">WEB CV</div>
      <div class="header_item headerButton"><a href="#About">About me</a></div>
      <div class="header_item headerButton"><a href="#Skills">Skills</a></div>
      <div class="header_item headerButton"><a href="#Quoute">Quote me</a></div>
      <div class="header_item headerButton"><a href="#Contacts">Contacts</a></div>
    </div>
    <div class="header_section">
      <div class="header_item headerButton"><a></a></div>
      <div class="header_item headerButton"><a href="/">Log out</a></div>
    </div>
  </div>
</header>