header
    .header
        .header_section
            .header_item.headerButton
                a(href='/') home
            .header_item.headerButton
                a(href='/about_me') about me

script(src='scripts/main_page.js')

block content