
<!--extends header--><!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Web CV</title>
  <meta name="description" content="Web CV, Kvetkin Pavel">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="scripts/main.js"></script>
</head>
<body>
  <header>
    <div class="header">
      <div class="header_section">
        <div class="header_item headerLogo">WEB CV</div>
        <div class="header_item headerButton"><a href="#About">About me</a></div>
        <div class="header_item headerButton"><a href="#Skills">Skills</a></div>
        <div class="header_item headerButton"><a href="#Projects">Projects</a></div>
        <div class="header_item headerButton"><a href="#Quoute">Quote</a></div>
        <div class="header_item headerButton"><a href="#Contacts">Contacts</a></div>
      </div>
      <div class="header_section">
        <div class="header_item headerButton"><a></a></div>
        <div class="header_item headerButton"><a href="/">Log out</a></div>
      </div>
    </div>
  </header>
  <main>
    <section id="About">
      <h2>About me</h2>
      <div class="about"><img class="imgfromleft" src="img/leo.jpeg" alt="" width="150">
        <p class="textfromleft">
          There will be some text. There will be some text. There will be some text. There will be some text.
          There will be some text. There will be some text. There will be some text. There will be some text.
          There will be some text. There will be some text. There will be some text. There will be some text.
          There will be some text. There will be some text. There will be some text. There will be some text.
          There will be some text. There will be some text. There will be some text. There will be some text.
          There will be some text. There will be some text. There will be some text. There will be some text.
          There will be some text. There will be some text. There will be some text. There will be some text.
          There will be some text. There will be some text. There will be some text. There will be some text.
        </p>
      </div>
    </section>
    <section id="Skills">
      <h2>Skills</h2>
      <ul>
        <li>Programming languages: Java, Python, C++.</li>
        <li>Preferences: Spring BOOT...</li>
      </ul>
    </section>
    <section id="Projects">
      <h2>Projects</h2>
      <ul>
        <li>Some-Project</li>
        <li>Some-Project</li>
        <li>Some-Project</li>
      </ul>
    </section>
    <section id="Quote">
      <h2>Quote</h2>
      <div><img class="imgfromleft" src="img/Henry_Ford.png" alt="" width="150">
        <p class="textfromleft">
          <q class="qp">&Vcy;&rcy;&iecy;&mcy;&yacy; &ncy;&iecy; &lcy;&yucy;&bcy;&icy;&tcy;, &kcy;&ocy;&gcy;&dcy;&acy; &iecy;&gcy;&ocy; &tcy;&rcy;&acy;&tcy;&yacy;&tcy; &vcy;&pcy;&ucy;&scy;&tcy;&ucy;&yucy;.</q>                    - &Gcy;&iecy;&ncy;&rcy;&icy; &Fcy;&ocy;&rcy;&dcy;.
        </p>
      </div>
    </section>
    <!--
    <section>
    <table class="tbl">
    <tr>
    <th>Что я люблю</th>
    <th>Как я люблю</th>
    </tr>
    <tr>
    <td>HTML</td>
    <td>Ну так</td>
    </tr>
    <tr>
    <td>CSS</td>
    <td>Уже другое дело</td>
    </tr>
    </table>
    </section>
    -->
    <section id="Contacts">
      <h2>Contacts</h2>
      <p><a href="https://t.me/closetoothestars">Telegram</a></p>
      <p><a href="https://github.com/pvkvetkin">Github</a></p>
    </section>
  </main>
  <p>© 2021 Kvetkin Pavel</p>
  <script>window.addEventListener("load", () => document.getElementById("timerOnLoad").innerText = "Loading time is: " + timeOnLoadClient + " sec. " + "and " + timeOnLoadServer + " sec.")</script>
  <p id="timerOnLoad"></p>
</body>