doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='fonts/style.css')
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/style_login.css')
.content
    .col-md-12
        .social-login.text-center
            form(action='' id='auth_button')
                a.github.btn.btn-block(href='#')
                    span.icon-github.mr-3

script(src='https://cdn.jsdelivr.net/gh/supertokens/supertokens-website/bundle/bundle.js')
script(src='scripts/server.js')