main
    section#About
        h2 About me
        .about
            img.imgfromleft(src='img/leo.jpeg' alt='' width='150')
            p.textfromleft
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
    section#Skills
        h2 Skills
        ul
            .merge
                .merge_elem
                    | Programming languages:
                    ul#programming_languages
            .merge
                .merge_elem
                    | Frameworks:
                    ul#frameworks
            li General languages: Russian (Native), English (Upper intermediate)
    section#Projects
        h2 Projects
        ul#project_field
    section#Quote
        h2 Quote
        div
            img.imgfromleft(src='img/Henry_Ford.png' alt='' width='150')
            p.textfromleft
                q.qp &Vcy;&rcy;&iecy;&mcy;&yacy; &ncy;&iecy; &lcy;&yucy;&bcy;&icy;&tcy;, &kcy;&ocy;&gcy;&dcy;&acy; &iecy;&gcy;&ocy; &tcy;&rcy;&acy;&tcy;&yacy;&tcy; &vcy;&pcy;&ucy;&scy;&tcy;&ucy;&yucy;.
                |                     - &Gcy;&iecy;&ncy;&rcy;&icy; &Fcy;&ocy;&rcy;&dcy;.
    section#Contacts
        h2 Contacts
        p
            a(href='https://t.me/closetoothestars') Telegram
        p
            a(href='https://github.com/pvkvetkin') Github


