main
    section#About
        h1 About me
        .about
            img.imgfromleft(src='img/leo.jpeg' alt='' width='150')
            p.textfromleft
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
    section#Skills
        h2 Skills
        ul
            .merge
                .merge_elem
                    h3
                        | Programming languages:
                    .ul_attr
                        ul#programming_languages
                    br
            .merge
                .merge_elem
                    h3
                        | Frameworks:
                    ul#frameworks
                    br
            .li_languages
                li
                    b
                        | General languages
                    |: Russian (Native), English (Upper intermediate)
    section#Projects
        h2 Projects
        ul#project_field
    section#Quote
        h2 Favorite Quote
        .about
            img.imgfromleft(src='img/Henry_Ford.png' alt='' width='150')
            p.quoute_from_left
                q.qp Time and silence are the most luxurious things today.
                |                     - Tom Ford.
    //section#Contacts
    //    h2 Contacts
    //    p
    //        a(href='https://t.me/closetoothestars') Telegram
    //    p
    //        a(href='https://github.com/pvkvetkin') Github


