
<main>
  <section id="About">
    <h2>About me</h2>
    <div class="about"><img class="imgfromleft" src="img/leo.jpeg" alt="" width="150"/>
      <p class="textfromleft">
        There will be some text. There will be some text. There will be some text. There will be some text.
        There will be some text. There will be some text. There will be some text. There will be some text.
        There will be some text. There will be some text. There will be some text. There will be some text.
        There will be some text. There will be some text. There will be some text. There will be some text.
        There will be some text. There will be some text. There will be some text. There will be some text.
        There will be some text. There will be some text. There will be some text. There will be some text.
        There will be some text. There will be some text. There will be some text. There will be some text.
        There will be some text. There will be some text. There will be some text. There will be some text.
      </p>
    </div>
  </section>
  <section id="Skills">
    <h2>Skills</h2>
    <ul>
      <div class="merge">
        <div class="merge_elem">Programming languages:
          <ul id="programming_languages"></ul>
        </div>
      </div>
      <div class="merge">
        <div class="merge_elem">Frameworks:
          <ul id="frameworks"></ul>
        </div>
      </div>
      <li>General languages: Russian (Native), English (Upper intermediate)</li>
    </ul>
  </section>
  <section id="Projects">
    <h2>Projects</h2>
    <ul id="project_field"></ul>
  </section>
  <section id="Quote">
    <h2>Quote</h2>
    <div><img class="imgfromleft" src="img/Henry_Ford.png" alt="" width="150"/>
      <p class="textfromleft">
        <q class="qp">&Vcy;&rcy;&iecy;&mcy;&yacy; &ncy;&iecy; &lcy;&yucy;&bcy;&icy;&tcy;, &kcy;&ocy;&gcy;&dcy;&acy; &iecy;&gcy;&ocy; &tcy;&rcy;&acy;&tcy;&yacy;&tcy; &vcy;&pcy;&ucy;&scy;&tcy;&ucy;&yucy;.</q>                    - &Gcy;&iecy;&ncy;&rcy;&icy; &Fcy;&ocy;&rcy;&dcy;.
      </p>
    </div>
  </section>
  <section id="Contacts">
    <h2>Contacts</h2>
    <p><a href="https://t.me/closetoothestars">Telegram</a></p>
    <p><a href="https://github.com/pvkvetkin">Github</a></p>
  </section>
</main>