

header
    .header
        .header_section
            .header_item.headerLogo WEB CV
            .header_item.headerButton
                a(href='#About') About me
            .header_item.headerButton
                a(href='#Skills') Skills
            .header_item.headerButton
                a(href='#Projects') Projects
            .header_item.headerButton
                a(href='#Quoute') Quote
            .header_item.headerButton
                a(href='#Contacts') Contacts
        .header_section
            .header_item.headerButton
                a(href='/logged') Login
            .header_item.headerButton
                a(href='#') Signup

block content