main
    section#About
        h2 About me
        .about
            img.imgfromleft(src='img/leo.jpeg' alt='' width='150')
            p.textfromleft
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
                | There will be some text. There will be some text. There will be some text. There will be some text.
    section#Skills
        h2 Skills
        ul
            li
                | Programming languages: Java, Python, C++.
            li
                | Preferences: Spring BOOT...

    section#Projects
        h2 Projects
        ul
            li
                | Some-Project
            li
                | Some-Project
            li
                | Some-Project

    section#Quote
        h2 Quote
        div
            img.imgfromleft(src='img/Henry_Ford.png' alt='' width='150')
            p.textfromleft
                q.qp &Vcy;&rcy;&iecy;&mcy;&yacy; &ncy;&iecy; &lcy;&yucy;&bcy;&icy;&tcy;, &kcy;&ocy;&gcy;&dcy;&acy; &iecy;&gcy;&ocy; &tcy;&rcy;&acy;&tcy;&yacy;&tcy; &vcy;&pcy;&ucy;&scy;&tcy;&ucy;&yucy;.
                |                     - &Gcy;&iecy;&ncy;&rcy;&icy; &Fcy;&ocy;&rcy;&dcy;.
    //
      <section>
      <table class="tbl">
      <tr>
      <th>Что я люблю</th>
      <th>Как я люблю</th>
      </tr>
      <tr>
      <td>HTML</td>
      <td>Ну так</td>
      </tr>
      <tr>
      <td>CSS</td>
      <td>Уже другое дело</td>
      </tr>
      </table>
      </section>
    section#Contacts
        h2 Contacts
        p
            a(href='https://t.me/closetoothestars')
                | Telegram
        p
            a(href='https://github.com/pvkvetkin')
                | Github
